#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    /* background-color: white; */
    width: 100%;
    margin-top:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gameNav {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

#gameNav button {
    width:100px;
    height:50px;
}

#gamePanel {
    width:500px;
    height:500px;
    background-color: rgb(234, 88, 234);
}