
html {
    background-color: #2A2B2E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #2A3439;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.642);
    position: relative;
    padding: 20px;
}

header {
    border-bottom: 3px solid #a4b9c5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

footer {
    position: absolute;
    bottom: 20px;
    background-color: #5A5A66;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
}

#PageButtons {
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 5px;
    
}

#navigationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    
}



.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 16px 16px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 90px; /* fixed width */
    height: 90px; /* fixed height */
    transition: transform 0.15s ease, background-color 0.3s ease, box-shadow 0.2s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    perspective: 600px;
}

.btnLong {
    background-color: rgb(66, 87, 180);
    border: none;
    color: white;
    padding: 16px 16px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 250px; /* fixed width */
    transition: transform 0.15s ease, background-color 0.3s ease, box-shadow 0.2s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    perspective: 600px;
}

.btn:hover {
background-color: RoyalBlue;
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);

}

my-opener {
    background-color: #2A2B2E;
    color: white;
    border-radius: 20px;
    position: fixed;
    top:25%;
}

#opener form {
    display:flex;
    flex-direction: column;
    align-items:start;
    row-gap:30px;
    padding:30px;
}

#opener form label {
    display: flex;
    flex-direction: column;
    font-size:25px;
}

.visitorName {
    background-color:#2A3439;
     
}